@model IEnumerable<QuanLyNhanSu.Models.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2 style="text-align:center">Phân Quyền Tài Khoản</h2>

<p>
    <a href="/Roles/Create" class="btn-primary btn">Thêm Mới</a>
</p>
<table class="table">
    <tr class="label-PQ">
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th style="width:300px;">
             Hỗ Trợ
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoleID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoleName)
    </td>
    <td>
        <a href="/Roles/Edit/@item.RoleID" class="btn-success btn">Sửa</a> |
        <a href="/Roles/Details/@item.RoleID" class="btn-primary btn">Chi tiết</a> |
        <a href="/Roles/Delete/@item.RoleID" class="btn-danger btn">Xóa</a>
    </td>
</tr>
}

</table>
<style>
    .label-PQ {
        background-color: rgb(50 112 181);
        color: white;
        font-weight: 600;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>
