@model QuanLyNhanSu.Models.ChucVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Chức Vụ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChucVu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaChucVu }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
