body {
} 
.nav-list-item {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-list-item ul {
    list-style: none;
}

.nav-link {
 
    text-decoration: none;
    color: blue;
    font-weight: 700;
    font-size: 20px;
}

.img-link {
    width: 100%;
    height: 800px;   
}
.tieu-de {
    background-color: white;
    font-family: ui-sans-serif;
}
h2 {   
    color: red;
    font-size: 30px;
    font-family: ui-monospace;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
h3{
    color : orangered;
    font-size: 30px;
}
h4{
    color:blueviolet;
}
.a:hover{
    color:darkviolet;
}
.dt{
    text-align:center;
}
.dd{
    text-align:center;
}