
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<button style="font-size:20px;" class="btn btn-danger"  type="button" onclick="location.href='@Url.Action("Create","DangKyTuyenDungs")'">Đăng Ký</button>


<img class="img-link" src="https://scontent.fhan5-3.fna.fbcdn.net/v/t1.15752-9/261091780_599674051299424_7052954905525061106_n.png?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=ljsqJ0bK0LsAX8HURQL&_nc_ht=scontent.fhan5-3.fna&oh=f7c877fe96cc7a4fa276fe049bbb31ab&oe=61CF3795" />

@*<div class="card" style="width: 13rem; text-align:center;">
        <img class="card-img-top" src="https://intphcm.com/data/upload/banner-tuyen-dung-dep-mat.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Mọi chi tiết xin liên hệ với Mr.Nhân : 0949899100</p>
        </div>
    </div>*@
