@model IEnumerable<QuanLyNhanSu.Models.ChucVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2 style="text-align:center">Danh Sách Chức Vụ</h2>
<p>
    <a href="/ChucVus/Create" class="btn-danger btn">Thêm Mới</a>
    <link href="~/Content/CustomCss.css" rel="stylesheet" />
</p>
<table class="table">
    <tr class="label-CV">
        <th>
            @Html.DisplayNameFor(model => model.TenChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaChucVu)
        </th>
        <th style="width:300px;">Hỗ Trợ</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaChucVu)
            </td>
            <td>
                <a href="~/ChucVus/Edit/@item.MaChucVu" class="btn-success btn">Sửa</a> |
                <a href="~/ChucVus/Details/@item.MaChucVu" class="btn-primary btn">Chi Tiết</a> |
                <a href="~/ChucVus/Delete/@item.MaChucVu" class="btn-danger btn">Xóa</a>
            </td>
        </tr>
    }

</table>
<style>
    .label-CV {
        background-color: rgb(50 112 181);
        color: white;
        font-weight: 600;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>
